* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
